<div class="fbsbody full">

    <div class="header">
        <h1>用户反馈</h1>
    </div>

    <div class="displaybox">

        <div class="datalist">
            <table class="mytable">
                <tr class="tablehead">
                    <th width="10%">反馈ID</th>
                    <th width="10%"> 反馈时间</th>
                    <th width="10%">问题类型</th>
                    <th width="25%">用户ID</th>
                    <th width="30%">发生位置</th>
                    <th width="5%">状态</th>
                    <th width="10%">查看</th>
                </tr>
                <tr class="tablerows" *ngFor="let row of mockdata">
                    <td>{{row.id}}</td>
                    <td>{{row.time}}</td>
                    <td>{{row.pbtype}}</td>
                    <td>{{row.userid}}</td>
                    <td>{{row.location}}</td>
                    <td>{{row.state}}</td>
                    <td><a class="btn gradually">查看</a></td>
                </tr>
            </table>
        </div>

        <div class="detailpan full">
            <div class="midpan">
                <div class="midpan-header gradually">
                    <button class="returnbtn ">返回</button>
                </div>
                <p>上传的图片:</p>
                <div class="imgbox">
                    <img src="{{targetImg}}" alt="反馈图片">
                </div>
                <p>详细描述:</p>
                <div class="describe">
                    {{describe}}
                </div>
            </div>
        </div>

    </div>

    <div class="pagbtnbox gradually">
        <div class="pagebtn pre" *ngIf="presentPage> 1"></div>
        <span>总页数：{{pageNumber}}, 当前页数：{{presentPage}}</span>
        <div class="pagebtn next" *ngIf="presentPage <pageNumber"></div>
    </div>

</div>